<div class="search-form">
	<form>
		<label class="btn-inline">Søg efter:
			<input type="text" ng-model="skySearchCtrl.query.keywords" placeholder="Søgetekst ..." />
			<button>Søg</button>
		</label>
	</form>
</div>
<div class="search-results" ng-if="skySearchCtrl.data.items.length">

	<div class="search-message" ng-if="skySearchCtrl.data.items">Din søgning gav <strong>{{skySearchCtrl.data.pagination.total}} resultater</strong></div>

	<ul>
		<li ng-repeat="result in skySearchCtrl.data.items track by result.id">

			<h5><a ng-href="{{result.url}}">{{result.name}}</a></h5>
			<p class="teaser" ng-if="result.teaser.length > 0">{{result.teaser}}</p>
			<small class="meta">
				<a class="url" ng-href="{{result.url}}">{{result.url}}</a>
			</small>

		</li>
	</ul>
</div>

<div class="search-more" ng-if="skySearchCtrl.data.pagination.total>skySearchCtrl.data.items.length">
	<div class="button" ng-click="skySearchCtrl.showMore()">
		<span>Indlæs flere (af i alt {{skySearchCtrl.data.pagination.total}})</span>
	</div>
</div>